.tp-section .setting-item {
	padding-top: 0.75em;
	border-top: 1px solid var(--background-modifier-border);
}

.tp-section .setting-item input:focus-visible {
    box-shadow: none;
}

.tp-section button:focus-visible {
    box-shadow: var(--input-shadow);
}

.tp-draggable-list .drag-handle {
	padding: 5px;
	color: var(--text-muted);
	cursor: grab;
}

.tp-draggable-list .drag-handle:active {
	cursor: grabbing;
}

.tp-info {
	white-space: pre;
}
