.tp-section .setting-item {
	border-top: 0;
	padding-top: 9px;
	position: relative;
}

.setting-item input:focus-visible {
    box-shadow: none;
}

.tp-section button:focus-visible {
    box-shadow: none;
}

.tp-draggable-list .drag-handle {
    cursor: grab;
    margin-right: 8px;
    color: var(--text-muted);
}

.tp-draggable-list .drag-handle:active {
    cursor: grabbing;
}

.tp-info {
    margin: 1em 12px;
    color: var(--text-muted);
}
